
  <div class="px-6 text-gray-800">
    <div
      class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6"
    >
      <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0 content-center justify-center items-center">
        <div class="flex justify-center items-center">
          <%= user.photo.attached? ? image_tag(user.photo.variant(:medium)) : fa_stacked_icon("house solid", class: "fa-10x w-full") %>
        </div>
      </div>
      <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
        <%= form_with(model: user) do |form| %>
          <div class="flex flex-row items-center justify-center lg:justify-start">
            <p class="text-2xl mb-0 mr-4"><%=t('user.data')%></p>
          </div>

          <% if user.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-6 mb-6">
              <ul>
                <% user.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="mb-6">
            <%= form.text_field :name, placeholder: User.human_attribute_name(:name), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="mb-6">
            <%= form.file_field :photo, placeholder: User.human_attribute_name(:photo), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="mb-6">
            <%= form.text_field :document, placeholder: User.human_attribute_name(:document), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="mb-6">
            <%= form.text_field :cns, placeholder: User.human_attribute_name(:cns), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="mb-6">
            <%= form.text_field :email, placeholder: User.human_attribute_name(:email), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="mb-6">
            <%= form.date_field :birthday_at, placeholder: User.human_attribute_name(:birthday_at), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="mb-6">
            <%= form.text_field :phone, placeholder: User.human_attribute_name(:phone), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="mb-6">
            <%= form.select :status, User.statuses.map { |key, value| [User.human_attribute_name("status.#{key}"), key] }, {include_blank: t('user.select_status')}, class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
          </div>

          <div class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
            <p class="text-center font-semibold mx-4 mb-0"><%=t('user.address')%></p>
          </div>

          <%= form.fields_for :address do |address_subform| %>
            <div class="mb-6">
              <%= address_subform.text_field :zipcode, placeholder: Address.human_attribute_name(:zipcode), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>

            <div class="mb-6">
              <%= address_subform.text_field :street, placeholder: Address.human_attribute_name(:street), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>

            <div class="mb-6">
              <%= address_subform.text_field :street_complement, placeholder: Address.human_attribute_name(:street_complement), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>

            <div class="mb-6">
              <%= address_subform.text_field :neighborhood, placeholder: Address.human_attribute_name(:neighborhood), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>

            <div class="mb-6">
              <%= address_subform.text_field :city, placeholder: Address.human_attribute_name(:city), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>

            <div class="mb-6">
              <%= address_subform.text_field :state, placeholder: Address.human_attribute_name(:state), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>

            <div class="mb-6">
              <%= address_subform.text_field :ibge, placeholder: Address.human_attribute_name(:ibge), class: "form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %>
            </div>
          <% end %>


          <div class="text-center lg:text-left">
            <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>